body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #eaf2ff;
  color: black;
  transition: 0.3s;
}
.dark-mode {
  background-color: #111827;
  color: white;
}
.dark-mode .container {
  background-color: #111827;
  color: white;
}

header {
  background:linear-gradient(to right, #2563eb, #1e3a8a);
  color: white;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.container {
  width: 60%;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
input,
select {
  padding: 10px;
  margin: 5px;
border-radius: 5px;
border: 1px solid gray;
}
button:hover {
  opacity: 0.8;
}
li {
  margin: 10px;
  list-style: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
}
.english {
  background-color: #dbeafe;
}
.math {
  background-color: #dcfce7;
}
.philosophy {
  background-color: #fee2e2;
}
.computerscience {
  background-color: #fef3c7;
}
  
  
